# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.gitignore
.idea/
protocol-consumer/protocol-consumer.iml
protocol-provider/target/generated-sources/
spring-dubbo-common/spring-dubbo-common.iml
spring-dubbo-service/spring-dubbo-service.iml
spring-dubbo.iml
